<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application", "forum-monster" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <a href="https://github.com/lsirigna/forum2"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>

    <div class="container">
      <%= content_tag :div, "This is just a demo, production mode is not activated.", :class => "demo_notice" %>
    </div>

    <div id="header">
      <div id="logo">
        <%= image_tag "logo-42.jpg" %>
        <h1>Forum 42</h1>
        <p>
<%= link_to_unless I18n.locale == :en, "English", locale: :en %>
|
<%= link_to_unless I18n.locale == :fr, "French", locale: :fr %>
</p>
        A Ruby on Rails Forum
        <div class="clear"></div>
      </div>
      <div id="menu_wrapper">
        <ul>
          <li><%= link_to "Forum Index", root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <div id="bottom">
        <% if user_signed_in? %>
          Welcome <strong><%= current_user.username %></strong>, your last login was <%= time_ago_in_words(current_user.last_sign_in_at) %> ago
        <% else %>
          You are not logged in. Please <%= link_to "login", new_user_session_path %> or <%= link_to "register", new_user_registration_path %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>

    <div id="info_box">
      <p>
        Total number of registered users: <strong><%= User.count %></strong><br />
        Newest registered user: <%= link_to User.last.username unless User.last.nil? %>
      </p>
<a href="https://twitter.com/CalinSecurity" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CalinSecurity</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
    <center><div><a class="twitter-timeline" href="https://twitter.com/CalinSecurity" data-widget-id="459812238430179328">Tweets de @CalinSecurity</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div></center>

  </body>
</html>
